body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    .header{
        display: flex;
        justify-content: center;
    }
    
    .main{
        .goods-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
    
            .goods_item {
                border: 1px solid #000;
                border-radius: .5rem;
                text-align: center;
                min-width: 10rem;
    
                .add_to_cart {
                    width: 60%;
                    border-radius: .3rem;
                    font-family: inherit;
                }
            }
        }
    }   
}